@{
    ViewData["Title"] = "Edit Movie";
}

@model MovieCollection.Models.Movie

<div class="text-center">
    <h1 class="display-4">Edit a Movie</h1>
</div>


<div class="container">
    <form asp-action="EditMovie" method="post">
        <div class="card border-info rounded-0">
            <div class="card-header p-0">
                <div class="bg-info text-white text-center py-2">
                    <h3>Edit Movie Information</h3>
                </div>
            </div>
            <div class="card-body p-3">
                <fieldset>
                    <label asp-for="Category">Category</label>
                    <input asp-for="Category" />
                    <br />
                    <label asp-for="MovieTitle">Title</label>
                    <input asp-for="MovieTitle" />
                    <br />
                    <label asp-for="Year">Year</label>
                    <input asp-for="Year" />
                    <br />
                    <label asp-for="Director">Director</label>
                    <input asp-for="Director" />
                    <br />
                    <label asp-for="Rating">Rating</label>
                    <select asp-for="Rating">
                        <option value="">Select One</option>
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                    </select>
                    <br />
                    <label asp-for="Edited">Edited</label>
                    <select asp-for="Edited">
                        <option value="">Select One</option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                    <br />
                    <label asp-for="LentTo">Lent To</label>
                    <input asp-for="LentTo" />
                    <br />
                    <label asp-for="Notes">Notes</label>
                    <input asp-for="Notes" />
                    <br />
                    <br />
                    <br />

                    <!--Pass in the MovieId so it will be the same as the one that needs to be updated-->
                    <input hidden asp-for="MovieId" value="@Model.MovieId" />
                    <button class="btn btn-success" type="submit">Edit Movie</button>
                    <br />
                    <div asp-validation-summary="All"></div>
                </fieldset>
            </div>
        </div>
    </form>

</div>