@{
    ViewData["Title"] = "Podcasts";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<body>
    <br />
    <br />

    <h2>Check out...</h2>
    <br />
    <a href="https://baconsale.com/"><h2>Bacon Sale</h2></a>
</body>

